# =====================================================
# Git Ignore for readDiag project
# =====================================================

# -----------------------------------------------------
# Python packaging / build artifacts
# -----------------------------------------------------
*.egg-info/
*.zip
*.tmp
dist/
build/

# -----------------------------------------------------
# Python cache and temp files
# -----------------------------------------------------
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.DS_Store

# -----------------------------------------------------
# Logs and temporary files
# -----------------------------------------------------
*.csv
*.log
*.swp
*.swo
